.load--file {
    opacity: 0; /* make transparent */
    z-index: -1; /* move under anything else */
    position: absolute; /* don't let it take up space */
    width: 50px;
}
.load--label {
    
    cursor: pointer;
    text-align: center;
}
.img--contact {
    height: 30px;
    width: 35px;
}